version: '3.7'
services:
  guacd:
    image: guacamole/guacd:1.6.0
    container_name: guacd
    restart: unless-stopped
    ports:
      - "4822:4822"
      
  guacamole:
    image: guacamole/guacamole:1.6.0
    container_name: guacamole
    restart: unless-stopped
    environment:
      GUACAMOLE_HOME: /etc/guacamole
    volumes:
      - ./guacamole-config:/etc/guacamole:ro
    depends_on:
      - guacd
    ports:
      - "8080:8080"
      
  nginx:
    image: nginx:alpine
    container_name: nginx-guacamole
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - guacamole
